* {
  direction: rtl;
  box-sizing: border-box;
  font-family: tahoma;
}
body,
html {
  font-size: 16px;
  direction: rtl;
  height: 100%;
  width: 100%;
  font-family: tahoma;
  box-sizing: border-box;
}

.site-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  background-image: url(../pic/background.svg);
  background-size: 100.8px 57.6px;
  background-repeat: repeat;
  position: relative;
  z-index: 10;
}

.site-footer {
  background-color: cadetblue;
  position: sticky;
  bottom: 0;
  z-index: -20;
  min-height: 10vh;
  width: 100%;
}
.top-header {
  background-color: #fff;
  border-bottom: 1px solid #cfd8dc;
}
.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.main-container {
  width: 75%;
  margin-right: 3em;
  margin-top: 1em;
  flex-shrink: 1;
}
.aside-container {
  width: 25%;
  margin-left: 3em;
  margin-right: 1.5em;
  margin-top: 1em;
  flex-shrink: 1;
}
.head-maxwidth {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 9em;
}
.head-container {
  background-color: #f2f2f2;
  width: 100%;
  min-height: 9em;
}
.nav-row-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.logo-picture {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.icon-svg {
  width: 4em;
  height: 4em;
}
.logo-text-container {
  margin: auto 1em auto auto;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}
.search-bottom {
  display: none;
}
.logo-information {
  font-family: tahoma;
  font-size: 1.4em;
  padding: 8px;
}
.logo-text {
  margin-top: 2px;
  font-family: tahoma;
  font-size: 1.6em;
  font-weight: bold;
  padding: 1px 4px 4px 4px;
}
::placeholder {
  font-family: tahoma;
  font-size: 1.2em;
}
input[type="search"] {
  padding-right: 10px;
  height: 2.3em;
  box-shadow: #222 0 3px 3px;
  overflow: auto;
}
.search-form__submit {
  height: 2em;
  padding: 0px 10px;

  font-family: tahoma;
  font-size: 1.2em;
  color: white;
  background-color: #00bcd4;
  border-bottom: 3px solid #21a2f2;
}
.search-form__search-box:focus {
  border: solid 3px;
}
.search-bottom {
  max-width: 10rem;
}
.nav-container {
  max-width: 75rem;
  width: 100;
  margin: 0px auto;
}
.nav-row-container span {
  font-family: tahoma;
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(117, 108, 108);
}
.head-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.head-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
}

.head-ul > li {
  flex-basis: 3rem;
  flex-grow: 1;
}
.nav-home {
  padding: 5px;
}
.nav-svg {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 3px;
}
.nav-home a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
}
.sub-nav-for-hover_after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sub-nav {
  position: absolute;
  display: none;
  flex-direction: column;
  min-width: 100%;
  border-radius: 0.2em;
  top: 100%;
  right: 150%;
}
.sub-nav li {
  display: flex;
  flex-direction: row;
  padding: 2px;
}
.sub-nav li svg,
span {
  padding: 3px;
}
.sub-nav-for-hover:hover .sub-nav {
  display: flex;
  background-color: rgb(134, 89, 175);
}

.nav-home:hover {
  background-color: rgb(134, 89, 175);
  transition: all 0.5s;
}
.nav-home:hover .nav-svg {
  fill: white;
}
.nav-home:hover .yazdan span {
  color: white;
}
.sub-nav-for-hover_after::after {
  content: "\25bc";
  transition: all 0.5s;
  padding-left: 10px;
}

.sub-nav-for-hover_after:hover::after {
  content: "\25b2";
  color: red;
  transform: scale(1.5);
}
.sub-nav-for-hover div {
  display: flex;
  flex-direction: row;
}
.nav-home-new {
  position: relative;
}
.new:after {
  content: "جدید";
  position: absolute;
  color: white;
  width: 3em;
  height: 2em;
  bottom: 80%;
  right: 60%;
  background-color: darkorange;
  padding-top: 6px;
  border-radius: 5px;
  text-align: center;
  animation: new 0.9s ease-out forwards;
}
@keyframes new {
  from {
    transform: translateY(-40px) rotate(-30deg);
  }
  10% {
    transform: translateY(0px) rotate(-30deg);
  }
  30% {
    transform: translateY(-20px) rotate(-30deg);
  }
  50% {
    transform: translateY(0px) rotate(-30deg);
  }
  70% {
    transform: translateY(-10px) rotate(-30deg);
  }
  to {
    transform: translateY(0px) rotate(-30deg);
  }
}
.aside-content {
  display: flex;
  flex-direction: column;
}
.sidelink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sidelink--writing {
  background-color: darkorchid;
  border-radius: 5px;
  min-height: 5em;
}
.sidelink__writing {
  padding: 5px;
  font-family: tahoma;
  font-size: 1em;
  font-weight: 500;
  margin: 0 16px;
  color: white;
}
.sidelink__img--writing {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  fill: #63f221;
  stroke: #21a2f2;
}

.sidelink--traning {
  background-color: rgb(238, 84, 37);
  border-radius: 5px;
  min-height: 5em;
}
.sidelink__traning {
  padding: 5px;
  font-family: tahoma;
  font-size: 1em;
  font-weight: 500;
  margin: 0 16px;
  color: white;
}
.sidelink__img--traning {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  fill: #216af2;
  stroke: #21f27f;
}

.sidelink--quistion {
  background-color: rgb(37, 67, 238);
  border-radius: 5px;
  min-height: 5em;
}
.sidelink__quistion {
  padding: 5px;
  font-family: tahoma;
  font-size: 1em;
  font-weight: 500;
  margin: 0 16px;
  color: white;
}
.sidelink__img--quistion {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  fill: #f22132;
  stroke: #05e66a;
}

.sidelink--link {
  background-color: rgb(243, 8, 212);
  border-radius: 5px;
  min-height: 5em;
}
.sidelink__link {
  padding: 5px;
  font-family: tahoma;
  font-size: 1em;
  font-weight: 500;
  margin: 0 16px;
  color: white;
}
.sidelink__img--link {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  fill: #2f21f2;
}
.wiget:not(:last-child) {
  margin-bottom: 1em;
}
.wiget {
  transition: transform 0.3s ease-in;
}
.wiget-:hover {
  transform: scale(1.1, 1.1);
}

.hot-posts {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(83, 82, 82, 0.35), 0 1px 2px rgba(70, 69, 69, 0.55);
}

.hot-posts__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.hot-posts__link:only-child {
  font-size: 0.8em;
}
.hot-posts {
  padding-top: 0.5em;
}

.hot-posts__menu li:first-child {
  background-color: #2f21f2;
  color: white;
}
.hot-posts__menu li:hover {
  background-color: #d6c1c1;
}

.recent-comment {
  background-color: #fff;
  padding-top: 5px;
  box-shadow: 0 1px 3px rgba(83, 82, 82, 0.35), 0 1px 2px rgba(70, 69, 69, 0.55);
}
.rc__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-right: 5px;
}
.rc__items:last-child {
  margin-bottom: 5px;
}
.rc__items {
  padding: 5px;
}

.rc__author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.rc__avatar {
  border-radius: 100%;
  fill: darkgray;
}
.rc__user {
  margin-right: 10px;
  color: #78909c;
}
.rc_post {
  margin-top: 0.5em;
  color: blue;
  font-size: 0.9em;
  padding: 2px;
}
.rc__comment {
  margin-top: 0.5em;
  color: #333;
  font-size: 0.8em;
}
.rc__items:hover {
  background-color: #d6c1c1;
}
.post {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  box-shadow: #a7a5a565 0 2px 3px;
  background-color: white;
}
.image {
  width: 850px;
  max-width: 100%;
  height: auto;
  aspect-ratio: auto 800/264;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.main-information {
  width: 100%;
  box-shadow: #a7a5a5a1 0 2px 3px, #a7a5a549 0 2px 2px;
  background-color: white;
  padding: 16px;
}

.entry-toplevel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 5px 5px 30px;
}

.entry-date {
  font-size: 1em;
  color: #78909c;
}
.entry-svg {
  fill: #78909c;
  width: 1.5em;
  height: 1.5em;
}
.entry-title {
  padding: 5px;
  font-weight: bolder;
  margin-bottom: 1em;
}
.author {
  display: inline-block;
}
.url {
  padding: 5px;
}
.url__picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;

  overflow-clip-margin: content-box;
  overflow: clip;
  display: inline-block;
  vertical-align: middle;
}
.url__name {
  padding: 3px;
  margin-right: 5px;
  font-size: 1em;
}

.share-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(122, 116, 116, 0.2);
  z-index: 1500;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  opacity: 1;
}
.share-modal {
  display: none;
}
.modal-child-margin {
  margin-bottom: 1.2em;
}
#modal:target {
  display: flex;
}
.share-modal__window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35em;
  background-color: white;
  border-radius: 5px;
}

.modal__social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.modal__close-window {
  align-self: flex-start;
  padding: 1em 1em 0 0;
}
.modal__svg-close {
  fill: #78909c;
}
.modal__share {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.modal__publish {
  color: #0393db;
  font-size: 1.1em;
  font-weight: 400;
}
.modal__svg-share {
  fill: #0393db;
  margin-right: 1em;
}
.modal__svg-close:hover {
  fill: red;
}
.modal__title {
  color: #78909c;
  font-size: 1.1em;
  font-weight: 400;
  /* margin-bottom: 2em; */
}

.modal__social-network {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal__social-list:not(:first-child) {
  margin-right: 1.5em;
}
.modal__social-svg {
  width: 2em;
  height: 2em;
}
.modal__social-svg:hover {
  transform: scale(1.2, 1.2);
}
.modal__addr {
  color: #78909c;
  font-size: 1em;
}
.modal__input {
  direction: ltr;
  border-bottom: solid #929ba0 2px;
  color: rgb(99, 98, 98);
  font-size: 1.1em;
  padding: 5px auto 5px auto;
  width: 60%;
  /* margin-bottom: 30px; */
}
.modal__input:read-only {
  font-size: 1em;
  padding-left: 4em;
  margin-bottom: 0.8em;
}
.modal__input:focus {
  border: solid #216af2 3px;
}
.post-text {
  background-color: white;
  font-size: 1.2em;
  padding: 10px;
  text-align: justify;
  line-height: 1.3;
  font-family: tahoma;
}
.post-link {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em 1em;
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  background-color: #5789c8;
  border-radius: 2px;
  overflow: hidden;
}

.post-link::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0em;
  width: 0.5em;
  height: 100%;
  margin: auto 0;
  background-color: #4c4c4c;
  position: absolute;
  transition: right 0.2s ease-in;
}
.post-link:hover::before {
  right: -0.4em;
}
.yarpp-related {
  margin: 2em 0;
}
.list-section {
  padding: 1.2em 1.5em;
  border-right: solid 5px orange;
}
.list-section__heading {
  padding: 3px;
  margin-right: 1em;
  font-weight: 700;
}
.list-section__list {
  padding: 5px;
}
.list-section__item {
  padding: 1em 2.5em;
  color: #21a2f2;
}
.list-section__item a {
  padding-bottom: 0.5em;
  position: relative;
}
.list-section__item a::before {
  content: "";
  position: absolute;
  display: none;
  width: 100%;
  height: 0.1px;
  top: 100%;
  bottom: 0;
  right: 0;
  background-color: currentColor;
}
.list-section__item a:hover::before {
  display: inline-block;
}
.quick-menu {
  width: 100%;
  padding: 10px;
}
.quick-menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.quick-menu__svg {
  fill: #78909c;
  width: 1.5em;
  height: 1.5em;
}
.quick-menu__like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.quick-menu__svg {
  padding-bottom: 3px;
}
.quick-menu__number {
  font-size: 0.8em;
}
.discuss-box {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #90a4ae;
}
.discuss-box__text {
  font-size: 1.5em;
  display: block;
  flex-grow: 1;
}
.discuss-box__text a {
  width: 15em;
  display: flex;
  font-size: 0.8em;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
}
.discuss-box__icon {
  width: 15em;
}
.discuss-box__icon2 {
  width: 15em;
}
.discuss {
  background-color: rgb(255, 106, 0);
}
.discuss-box img {
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: scaleX(-1);
}
.discuss__svg {
  width: 3em;
  height: 3em;
  fill: rgb(255, 255, 255);
}
.discuss__text {
  color: rgb(255, 255, 255);
  display: inline-block;
}
.comment-form {
  margin-top: 1em;
  background-color: white;
  padding: 0.5em;
}
.form-pargraf {
  padding: 0.6em;
}
.comment-respond {
  background-color: white;
  width: 100%;
  margin-bottom: 2em;
  box-shadow: #a7a5a5a1 0 2px 3px, #a7a5a549 0 2px 2px;
}
.screen-reader-text {
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
textarea[id="comment"] {
  font-size: 0.8em;
  color: #404040;
  width: 100%;
  padding: 1em;
  border: solid 1px #dfdbdb;
}
input[id="author-label"] {
  font-size: 0.8em;
  color: #404040;
  width: 100%;
  padding: 0.8em;
  border: solid 1px #dfdbdb;
}
input[id="author-email"] {
  font-size: 0.8em;
  color: #404040;
  width: 100%;
  padding: 0.8em;
  border: solid 1px #dfdbdb;
}
input[class="submit_comment"] {
  font-size: 0.8em;
  font-weight: 800;
  color: white;
  width: 8em;
  padding: 0.8em;
  background: #0393db;
  border: solid 1px #dfdbdb;
}

.site-footer__row-container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}
.site-footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1em;
}
.site-footer__top {
  background-color: #1b1b1b;
}
.site-footer__bottom {
  background-color: #0c0c0c;
  padding: 1em 1rem;
}
.site-footer__section {
  flex-grow: 1;
  padding: 5px;
}
.site-footer__section > :nth-child(n) {
  padding: 0.5em;
}
.site-footer__item > :nth-child(n) {
  padding: 0.4em;
}
.site-footer__social-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.site-footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer__section > h3 {
  font-size: 1.1em;
  color: #929ba0;
}
.site-footer__form-element-container {
  display: flex;
  flex-flow: row wrap;
}
.site-footer__submit {
  width: 100%;
}
.site-footer__button {
  background-color: #ffa92e;
  font-size: 1.1em;
  color: white;
  padding: 0.5em;
  flex-grow: 1;
  border-bottom: 2px solid #e1890b;
  line-height: 1.8;
}
.site-footer__email {
  padding: 0.5em;
  flex-grow: 1;
  font-size: 0.9em;
  direction: ltr;
  border-bottom: 2px solid #d0d0d0;
  line-height: 1.8;
  transition: transform 0.3s ease-in;
}
.site-footer__email:focus {
  border: solid 3px #ffa92e;
  border-radius: 5px;
  box-shadow: white 1px 1px, white -1px -1px;
}
.site-footer__article {
  font-size: 1em;
  padding: 0.8em;
  color: white;
}
.site-footer__article a {
  color: #00bcd4;
  font-size: 0.9em;
}
.source {
  font-size: 0.8em;
  color: white;
  margin: 0.2em auto;
  line-height: 1.8em;
  text-align: center;
}
